# ========================
# 基本不要ファイル/ディレクトリ
# ========================
.DS_Store
Thumbs.db

# ========================
# Node依存
# ========================
/node_modules
/.pnp
.pnp.js

# ========================
# ロックファイル(使わないものだけ指定)
# ========================
*.lock

# ========================
# テスト/カバレッジ
# ========================
/coverage

# ========================
# Next.js
# ========================
/.next/
*.next


# ========================
# ビルド/デプロイ生成物
# ========================
/build
/dist
/build
/out

*.pem

# ========================
# ログ/キャッシュ
# ========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# ローカル開発環境
# ========================
.env
*.env
.env*.local
.wp-env.json
.envrc
/.env/

# ========================
# IDE/エディタ
# ========================
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/
.nx/installation
.nx/cache
.nx/workspace-data

# ========================
# Vercel
# ========================
.vercel

# ========================
# TypeScript
# ========================
*.tsbuildinfo
next-env.d.ts

# ========================
# eLearning/特定プロジェクト
# ========================
codemafia*

# ========================
# PHP
# ========================
/vendor
/vendor/
*vendor

# ========================
# MarkDown（AI用: README以外除外の意図明文化）
# ========================
ai/**/*.md
!ai/**/README.md
